body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    line-height: 24px;
    font-size: 16px;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  img {
    display: block;
  }
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }
  ul {
    margin: 0;
    padding-left: 0;
  }
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
  }
  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .header .container {
    display: flex;
    justify-content: space-between;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-navigation .logo-header {
    margin-right: 76px;
  }
  .logo-hader-part {
    color: #2e2f42;
  }
  .contacts-us {
    align-items: flex-end;
  }
  .top-menu {
    display: flex;
    gap: 40px;
  }
  
  .logo-footer-part {
    color: #f4f4fd;
  }
  
  .contacts-us-menu {
    display: flex;
    gap: 40px;
  }
  .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
    color: #2e2f42;
    display: flex;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .link:hover,
  .link:focus,
  .contacts-us .link:hover,
  .contacts-us .link:focus,
  .active {
    color: #404bbf;
  }
  .top-menu-item .link:hover::after,
  .active::after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  .contacts-us {
    font-style: normal;
  }
  .contacts-us .link {
    color: #434455;
    font-weight: 400;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .portfolio-header {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
  }
  
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }
  .portfolio-item-desc {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item-img {
    max-width: 100%;
  }
  .portfolio-item-overlay {
    position: relative;
    overflow: hidden;
  }
  .portfolio-subtitle {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .portfolio-item-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .orders {
    background-color: #2e2f42;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset blur 50% grey;
    text-align: center;
    max-width: 1440px;
    padding: 188px 0;
    margin: auto;
  }
  .orders-header {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px;
  }
  .orders-button {
    margin: auto;
    font-family: "Roboto", sans-serif;
    background: #4d5ae5;
    color: #fff;
    cursor: pointer;
    min-width: 169px;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .orders-button:hover,
  .orders-button:focus {
    background-color: #404bbf;
    cursor: pointer;
  }
  .concept {
    padding: 120px 0;
  }
  
  .concept-list {
    display: flex;
    gap: 24px;
  }
  .concept-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .concept-item {
    width: calc((100% - 72px) / 4);
  }
  .concept-icon-container {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
  }
  .concept-icon {
    display: block;
    margin: 24px auto;
  }
  .concept-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .concept-item-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    display: flex;
  }
  .team-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    display: inline-block;
    margin-right: 24px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
      0px 1px 6px 0px #2e2f4214;
  }
  .team-item:last-child {
    margin-right: 0;
  }
  .team-item-desc {
    padding: 32px 0;
  }
  .team-item-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .team-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .team-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .social-links {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    justify-content: center;
    align-self: flex-end;
    margin-top: 8px;
  }
  .social-links .soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-family: sans-serif;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-item:hover .overlay {
    transform: translateY(0);
  }
  .social-links .soc-link:hover,
  .social-links .soc-link:focus {
    background-color: #404bbf;
  }
  .social-links .social-icon {
    fill: #f4f4fd;
  }
  
  .footer-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    max-width: 264px;
  }
  body .footer-desc {
    color: #f4f4fd;
  }
  .footer {
    background-color: #2e2f42;
    padding: 100px 0 100px;
  }
  .footer .container .logo-header {
    display: inline-block;
    margin-bottom: 16px;
    padding: 0;
  }
  .footer-soc-block-header {
    color: #fff;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-bottom: 16px;
  }
  .footer-text-block {
    margin-right: 120px;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .footer .social-links {
    gap: 16px;
  }
  .footer .social-links .soc-link:hover,
  .footer .social-links .soc-link:focus {
    background-color: #31d0aa;
  }
  
  .soc-link-block {
  }
  
  .footer-address {
    width: 453px;
    height: 80px;
    padding-left: 80px;
  }
  
  .footer-form {
    display: flex;
    gap: 24px;
  }
  
  .footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #fff;
  }
  
  .footer-input::placeholder {
    color: #fff;
  }
  
  .footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-button:hover,
  .footer-button:focus {
    background-color: #404bbf;
  }
  
  .icon-footer {
    fill: #fff;
    margin-left: 16px;
  }
  
  /* modal*/
  
  .backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }
  
  .modal-close:focus .icon-close,
  .modal-close:hover .icon-close{
    fill: #ffffff;
  }
  
  .modal-close:hover,
  .modal-close:focus{
    background-color: #404bbf;
    border: none;
  }
  
  .backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
  }
  
  .modal-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
  }
  
  .form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 4px;
    width: 360px;
    height: 336px;
  }
  
  .form-element {
    margin-bottom: 8px;
  }
  
  .comment {
    margin-bottom: 16px;
  }
  .form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
  }
  
  .form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
  }
  
  .input-and-icon {
    position: relative;
  }
  
  .form-input:hover,
  .form-input:focus {
    border-color: #4d5ae5;
    outline: none;
  }
  
  .form-input:hover + .input-icon,
  .form-input:focus + .input-icon {
    fill: #4d5ae5;
  }
  
  .input-icon {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
    width: 18px;
    height: 24px;
    top: 50%;
    left: 16px;
    fill: #2e2f42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .input-area {
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    resize: none;
    outline: none;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .input-area:hover,
  .input-area:focus {
    border-color: #4d5ae5;
  }
  
  .input-area::placeholder {
    color: rgba(46, 47, 66, 0.4);
  }
  
  .checkbox {
    margin-bottom: 24px;
  }
  
  .modal-check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
  }
  
  .check-privacy {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
  }
  
  .modal-check:checked + .modal-check-text span {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
  }
  
  .privacy-policy {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
  }
  
  .button-send {
    display: block;
    gap: 10px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    margin: 0 auto;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .button-send:hover,
  .button-send:focus {
    background-color: #404bbf;
  }